<div class="bg2"><h1>Instagram</h1></div>
<section>
      <div class="wrapper">
      <!-- InstaWidget -->
      <a href="https://instawidget.net/v/user/bellfieldsoap3" id="link-554c0a514501caab7424696699cd6ffdc7d3bc1df56d8bb2ac2f4869e9fbf5ba">@bellfieldsoap3</a>
      <script src="https://instawidget.net/js/instawidget.js?u=554c0a514501caab7424696699cd6ffdc7d3bc1df56d8bb2ac2f4869e9fbf5ba&width=100%"></script>
      </div>
</section>