<div class="bg2"><h1>Lessons</h1></div>
<section class="wrapper">
  <div class="container">
    <div class="flex">
      <section class="lesson">
        <h2>ベーシックソープ(体験コース)</h2>
        <p>初めての方はこちらをお勧めします。<br>
        この講座では手作り石けんの基礎をしっかりお伝えします。<br>
        石けん作りの基本的なオイルを使い、<br>
        基本の手順を追って作ります。<br>
        苛性ソーダの取り扱い方もこの講座の重要なポイントです。<br>
        <br>
        <br>
      　受講料  3,500円</p>
      　<img src="/images/soap7.jpg" alt="">
      </section>
      <section class="lesson" >
        <h2>宝石石けん</h2>
        <p>マヌカハニーはニュージーランドに自生する<br>
        マヌカの花から採取した希少価値の高いはちみつです。<br>
        ビタミン、ミネラル、酵素などが含まれ、<br>
        強い抗菌、殺菌効果を持ち合わせます。<br>
        肌への作用としては、保湿性やニキビの原因となるアクネ菌を<br>
        取り除く効果も知られるところです。<br>
        (但し、一歳未満のお子様には使えません。)<br>
        受講料  4,300円</p>
        <img src="/images/soap7.jpg" alt="">
      </section>
    </div>
    
    <div class="flex">
      <section class="lesson" id="honey">
        <h2>マヌカハニーソープ</h2>
        <p>マヌカハニーはニュージーランドに自生する<br>
        マヌカの花から採取した希少価値の高いはちみつです。<br>
        ビタミン、ミネラル、酵素などが含まれ、<br>
        強い抗菌、殺菌効果を持ち合わせます。<br>
        肌への作用としては、保湿性やニキビの原因となるアクネ菌を<br>
        取り除く効果も知られるところです。<br>
        (但し、一歳未満のお子様には使えません。)<br>
        受講料  4,300円</p>
        <img src="/images/soap7.jpg" alt="">
      </section>
      <section class="lesson">
          <h2>月桃づくし石けん</h2>
          <p>月桃はショウガ科の植物で、沖縄、九州、屋久島、<br>
          種子島で見られます。抗酸化作用を持つ<br>
          ポリフェノールが赤ワインの約34倍含まれていて<br>
          活性酸素を除去する働きがあります。<br>
          美容には欠かせない成分であるビタミンCの吸収を助ける<br>
          作用があるため、アンチエイジング効果が期待できます。<br>
          <br>
          受講料  4,300円</p>
          <img src="/images/soap8.jpg" alt="">
      </section>
    </div>
  
    <div class="flex">
      <section class="lesson">
        <h2>日本酒石けん</h2>
        <p>農薬、肥料を使わずに栽培された山田錦100%の<br>
        純米酒を使用した贅沢な石けんです。<br>
        メラニン色素の生成を抑制してくれる麹酸、<br>
        肌の潤いを保つアミノ酸、多くのビタミン類など<br>
        美白やアンチエイジング効果のある成分が含まれています。<br>
        <br>
      　受講料  4,300円</p>
      　<img src="/images/soap4.jpg" alt="">
      </section>
      <section class="lesson">
        <h2>キッチンソープ</h2>
        <p>毎日の水仕事で手は荒れていませんか?<br>
        天然の保湿成分が含まれた肌に優しい石けんで、<br>
        手への負担を減らしてあげましょう。<br>
        合成保存料や合成界面活性剤が入っていないので、<br>
        口にする食器洗いにも安心して使えます。<br>
        タッパーに流し込むタイプに変更できます。<br>
        受講料  4,500円 (通常の倍量)</p>
        <img src="/images/soap1.jpg" alt="">
      </section>
    </div>
    
    <div class="flex">
      <section class="lesson" id="bihaku">
        <h2>美白のハーブ石けん</h2>
        <p>紫外線が強くなる季節におすすめの石けん。<br>
        美白効果が高いハーブとして知られるヒースの浸出油と、<br>
        毛穴の汚れをよく落としてくれるクレイを使用します。<br>
        シミや色素沈着の予防に使われるヒース。<br>
      　美白成分のアルブチンを含んでいます。<br>
      　受講料  4,300円</p>
      　<img src="/images/soap5.jpg" alt="">
      </section>
      <section class="lesson">
        <h2>もっちり泡の塩石けん</h2>
        <p>塩が持つ多くの効能を閉じ込めた石けん。<br>
        洗い上がりはさっぱり、でも保湿力はそのまま。<br>
        夏にはメンソールを加えて、更に冷感アップできます。
        <br>
        <br>
        <br>
        受講料  4,300円</p>
        <img src="/images/soap7.jpg" alt="">
      </section>
    </div>

    <div class="flex">
      <section class="lesson lesson-text">
        <table>
          
          <tr>
            <th></th>
            <td><h2>全てのレッスンの共通事項</h2></td>
          </tr>
          <tr>
            <th>場所</th>
            <td>自宅教室(兵庫県伊丹市)お申し込み後<br>メールにて詳細をお知らせします。</td>
          </tr>
          <tr>
            <th>日時</th>
            <td>ご希望の日時で調整させていただきます。</td>
          </tr>
          <tr>
            <th>人数</th>
            <td>1名〜4名の少人数制</td>
          </tr>
          <tr>
            <th>所要時間</th>
            <td>1時間半〜2時間程度</td>
          </tr>
          <tr>
            <th>持ち物</th>
            <td>ゴム手袋※①、メガネ※②、型※③、マスク、<br>エプロン、保冷バッグ、古タオル、筆記用具</td>
            </tr>
          <tr>
            <th>※・・・</th>
            <td>①花粉眼鏡など目を覆えるもの。<br>
            (なければ教室用をお貸しできます。)<br>
            日常で眼鏡をおかけの方は必要ありません。<br>
            ②手にフィットするものが作業しやすいです。<br>
            ③初めての方はこちらで準備します。
            </td>
          </tr>
            <tr>
              <th></th>
              <td>特に明記のないものは250ｇバッチで作ります。<br>(4〜5個の石けんができます。)
              <br><br>精油は100滴(5ml)までお使いいただけます。</td>
            </tr>
        </table>
      </section>
      <section class="lesson form" >
        <%= form_tag('/contact/create') do %>
        <h2>お申し込みフォーム</h2>
          <div>
            <label for="name">お名前</label>
            <input type="text" id="name" name="name">
          </div>
          <div>
            <label for="tel">電話番号</label>
            <input id="tel" name="tel">
          </div>
          <div>
            <label for="email">メールアドレス</label>
            <input type="email" id="email" name="email">
          </div>
          <div>
            <label for="content">申し込み内容<br>日時</label>
            <textarea type="text" id="content" name="content"></textarea>
          </div>
          <div class="button">
            <button type="submit">送信</button>
          </div>
          <% end %>
      </section>
    </div>
  </div>
</section>