<div class="bg2"></div>
<section>
  <div id ="thanks">
    <h2>メッセージを送信しました。</h2>
    <p>お問い合わせ、お申し込み後2日以内に返信のない場合はお手数ですが、<br>
    直接お電話下さい。留守電の場合はお名前、お電話番号、<br>
    ご用件をお話し下さい。<br>こちらから折り返しご連絡させていただきます。</p>
    <p>メールアドレス:bellfieldsoap@gmail.com</p>
    <p>電話番号:090-5657-3143</p>
  </div>
</section>