<div class="bg2"><h1>Lessons</h1></div>
<section>
  <div class="container wrapper">
    <div class="flex">
      <section class="lessons">
        <table>
          <h2>レッスン一覧</h2>
          <% @lessons[0..3].each do |lesson| %>
          <tr>
            <th>・</th>
            <td><%= link_to lesson.title , lesson_path(lesson) %></td>
          </tr>
          <% end %>
          <tr>
            <th>・</th>
            <td>1DAYレッスン</td>
          </tr>
          <% @lessons.each do |lesson| %>
          <tr>
            <th></th>
            <td><%= link_to lesson.title , lesson_path(lesson) %></td>
          </tr>
          <% end %>
        </table>
      </section>
      <section class="lessons">
        <table>
          <h2>全てのレッスンの共通事項</h2>
          <tr>
            <th>場所</th>
            <td>自宅教室(兵庫県伊丹市)お申し込み後<br>メールにて詳細をお知らせします。</td>
          </tr>
          <tr>
            <th>日時</th>
            <td>ご希望の日時で調整させていただきます。</td>
          </tr>
          <tr>
            <th>人数</th>
            <td>1名〜4名の少人数制</td>
          </tr>
          <tr>
            <th>所要時間</th>
            <td>1時間半〜2時間程度</td>
          </tr>
          <tr>
            <th>持ち物</th>
            <td>ゴム手袋※①、メガネ※②、型※③、マスク、<br>エプロン、保冷バッグ、古タオル、筆記用具</td>
            </tr>
          <tr>
            <th>※・・・</th>
            <td>①花粉眼鏡など目を覆えるもの。<br>
            (なければ教室用をお貸しできます。)<br>
            日常で眼鏡をおかけの方は必要ありません。<br>
            ②手にフィットするものが作業しやすいです。<br>
            ③初めての方はこちらで準備します。
            </td>
          </tr>
            <tr>
              <th></th>
              <td>特に明記のないものは250ｇバッチで作ります。<br>(4〜5個の石けんができます。)
              <br><br>精油は100滴(5ml)までお使いいただけます。</td>
            </tr>
        </table>
      </section>
    </div>
  </div>
</section>