<div class="bg2"><h1>編集</h1></div>
<section>
  <div class="container wrapper new">
    <%= form_tag("/posts/#{@post.id}/update",{multipart: true}) do %>
      <div>
        <label for="image">画像</label>
        <%= file_field_tag :image, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
      <div>
        <label for="title">タイトル</label>
        <textarea id="title" name="title"><%= @post.title %></textarea>
      </div>
      <div>
        <label for="content">本文</label>
        <textarea id ="content" name="content"><%= @post.content %></textarea>
      </div>
      <div class="button">
        <button type="submit">編集</button>
      </div>
    <% end %>
  </div>
</section>