<div class="bg2"><h1>新規投稿</h1></div>
<section class="lesson form">
  <div class="container">
    <%= form_tag("/posts/create",{multipart: true}) do %>
      <div>
        <label for="name">画像</label>
        <input id="name" name="image" type="file">
      </div>
      <div>
        <label for="title">タイトル</label>
        <input id="title" name="name">
      </div>
      <div>
        <label for="email">本文</label>
        <textarea id ="new" name="content"></textarea>
      </div>
      <div class="button">
        <button type="submit">投稿</button>
      </div>
    <% end %>
  </div>
</section>