.contact h2 {
    text-align:center;
    font-weight:normal;
}
.contact p {
    text-align:left;
    padding-left:50px;
}

.contact table th {
    vertical-align:top
}
.contact table tr {
    line-height:2;
}
.qa {
    margin-top:70px;
} 
#thanks h2 {
  margin:0;
  padding-top:70px;
}

@media screen and (max-width:568px) {
.contact p {
  padding-left:0;
}
}