// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lessons {
    margin-bottom:70px;
}
.lessons h2 {
    font-weight:normal;
    text-align:center;
}
.lessons table tr {
    line-height:2;
}
.lessons table th {
    font-weight:normal;
    vertical-align:top
}
.lessons table td {
    padding-left:20px;
}
.lessons img {
    width:200px;
    height:200px;
    text-align:center;
}
.center {
    text-align:center;
}
.left {
    text-align:left !important;
}